{% extends 'sitetemplate/pythonbase.html' %}
{% load static %}



        {% block content %}



             


            <div class="col-md-8 mb-5" >  

             
                    
              
                <div>
                    <h1> Welcome to this beginer tutorial <Small> {ProgrAMMING [with PYTHON]} </Small><h1>
    
                 </div>

                <div>
                    <img src="" alt="">
                </div>
            
                <div class="mb-6" >
                    <p > In this tutorial we are going to go through the fundamentals of python programming 
                        This will give you a basic understanding of how this programming tool can be used 
                         and what it can accomplish for You.
                    </p>

                    <h5>Requirements</h5>
                    <ul>
                        
                        <li>Time</li>
                        <li>commitment</li>
                        And of Couse a
                    
                        <!-- link this computer to the blog on how to choose a computer
                        for programming. -->
                        <li>computer</li> 
                        <li>include how to install the python</li>
                        <li>the required text editor use sublime</li>
                    </ul>
                    <big>No experience required</big>

                    
                </div>
                <a href="#"><button type="button" class="btn btn-primary mb-5 mt-5 " style="width: 100%;">Lets Get Started</button></a>
             <!-- the three cards from bootstrap -->
               

                    



                <!-- ((((((((((((((((((())))))))))))))))))) -->
                

            </div>
        
            {% endblock %}
            <!-- Blog entry ends  -->