{% extends 'sitetemplate/pythonbase.html' %}


{% block content %}
<div class="col-md-8 mb-5" >  
    

        <h3>Reading From A File</h3>

          <p>In many cases we may wish to use information stored in files.
               Python makes it very easy for us to open and read text files '
               and to parse them into a list for further processing.</p>
    
        <h5>Take NOTE</h5>
        <p> Before attempting to open an existing text file be
             ensure that it is in the same directory as your
              python script. This simply means wherever your 
              python file is stored on your computer your text
               file must be there with it! For example if your 
               
               python file is stored on your Desktop in the 
               folder Python (Desktop > Python) then your text 
               file must be in that Python folder as well.

            This is the basic syntax for opening a file:
        </p>
        
        <div style="background: #f8f8f8; overflow: auto; width: auto; border: solid gray; border-width: .1em .1em .1em .8em; padding: .2em .6em;"><pre style="margin: 0; border: 0px; line-height: 125%;"><span style="color: #000000;">f</span> <span style="color: #ce5c00; font-weight: bold;">=</span> <span style="color: #204a87;">open</span><span style="color: #000000; font-weight: bold;">(</span><span style="color: #4e9a06;">"file.txt"</span><span style="color: #000000; font-weight: bold;">,</span> <span style="color: #4e9a06;">"r"</span><span style="color: #000000; font-weight: bold;">)</span>
        </pre></div>
        The open function takes two arguments. The first is the 
        file name ("file.txt") and the second is the mode
         ("r"). The mode will tell python if it is reading, 
         writing or appending to the document. In our case
          we use "r" standing for read.

        Once we've opened the file and have stored it in 
        a variable (in our case f) we can use the 
        .readlines() method to convert each line into an element in a list.
         
        <div style="background: #f8f8f8; overflow: auto; width: auto; border: solid gray; border-width: .1em .1em .1em .8em; padding: .2em .6em;"><pre style="margin: 0; border: 0px; line-height: 125%;"><span style="color: #000000;">f</span> <span style="color: #ce5c00; font-weight: bold;">=</span> <span style="color: #204a87;">open</span><span style="color: #000000; font-weight: bold;">(</span><span style="color: #4e9a06;">"file.txt"</span><span style="color: #000000; font-weight: bold;">,</span> <span style="color: #4e9a06;">"r"</span><span style="color: #000000; font-weight: bold;">)</span>

            <span style="color: #000000;">lines</span> <span style="color: #ce5c00; font-weight: bold;">=</span> <span style="color: #000000;">f</span><span style="color: #ce5c00; font-weight: bold;">.</span><span style="color: #000000;">readlines</span><span style="color: #000000; font-weight: bold;">()</span>
            
            <span style="color: #8f5902; font-style: italic;"># lines looks like ["line 1 \n", "line 2 \n", "line 3"]</span>
            </pre></div>
                <p>Now you may notice that each 
                    element in the list (excluding the last in some 
                    cases) has a trailing "\n". This "\n" is known as 
                    an escape character and it is how programs know to
                     go to a newline. Typically this character is not
                      visible to us but since we are reading in all of
                       the content of the file we see it. To remove 
                       this character we can utilize the .strip() method.</p>

                       <div style="background: #f8f8f8; overflow: auto; width: auto; border: solid gray; border-width: .1em .1em .1em .8em; padding: .2em .6em;"><pre style="margin: 0; border: 0px; line-height: 125%;"><span style="color: #000000;">f</span> <span style="color: #ce5c00; font-weight: bold;">=</span> <span style="color: #204a87;">open</span><span style="color: #000000; font-weight: bold;">(</span><span style="color: #4e9a06;">"file.txt"</span><span style="color: #000000; font-weight: bold;">,</span> <span style="color: #4e9a06;">"r"</span><span style="color: #000000; font-weight: bold;">)</span>

                        <span style="color: #000000;">lines</span> <span style="color: #ce5c00; font-weight: bold;">=</span> <span style="color: #000000;">f</span><span style="color: #ce5c00; font-weight: bold;">.</span><span style="color: #000000;">strip</span><span style="color: #000000; font-weight: bold;">()</span><span style="color: #ce5c00; font-weight: bold;">.</span><span style="color: #000000;">readlines</span><span style="color: #000000; font-weight: bold;">()</span>
                        
                        <span style="color: #8f5902; font-style: italic;"># lines now looks like ["line 1", "line 2", "line 3"]</span>
                        </pre></div>


       <div class="mt-5 mb-5">
           <a href="#"><button type="button" class="btn mybtn">Next Lesson</button></a>
       </div>























      </div>



</div>
{% endblock %}
<!-- Blog entry ends  -->