{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>FranklyMade</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'sitetemplate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'sitetemplate/css/modern-business.css' %}" rel="stylesheet">

   <link href="{% static 'sitetemplate/css/basestyle.css' %}" rel="stylesheet"> 

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">FranklyMade</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="portfolio.html">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="tutorials.html">Tutorials</a>
        </li>

          
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- the showcase image -->
  <header>
    <div class="showcase">
      <img src="{% static  'sitetemplate/images/Frame 1.png' %}" alt="not found">
    </div>
  </header>


  <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Python Tutorial
        <small></small>
        </h1>
        <h5> </h5>
        <h5></h5>

        <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item active">Latest Tech News/li>
        </ol>

          <div class="row row-controler">

            
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
                

                <!-- Search Widget -->
                <div class="card mb-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action mycard"><h5>Learn  Python From The Beginin </h5><br> <h4>Content</h4></a>
                
                
                
                <a href="{% url 'courses' 1  %}" class="list-group-item list-group-item-action list-group-item-primary">Variables & Data Types </a>
                <a href="{% url 'courses' 2  %}" class="list-group-item list-group-item-action list-group-item-secondary">Operators and input</a>
                <a href="{% url 'courses' 3  %}" class="list-group-item list-group-item-action list-group-item-success">conditions</a>
                <a href="{% url 'courses' 4  %}" class="list-group-item list-group-item-action list-group-item-danger">IF/ELIF/ELSE</a>
                <a href="{% url 'courses' 5  %}" class="list-group-item list-group-item-action list-group-item-warning">Chained Conditionals and Nested statements</a>
                <a href="{% url 'courses' 6  %}" class="list-group-item list-group-item-action list-group-item-info">For Loops</a>
                <a href="{% url 'courses' 7  %}" class="list-group-item list-group-item-action list-group-item-light">While Loops</a>
                <a href="{% url 'courses' 8  %}" class="list-group-item list-group-item-action list-group-item-dark">List and Tuples</a>
                <a href="{% url 'courses' 9  %}" class="list-group-item list-group-item-action list-group-item-primary">Iterations by Item </a>
                <a href="{% url 'courses' 10  %}" class="list-group-item list-group-item-action list-group-item-secondary">String methods</a>
                <a href="{% url 'courses' 11  %}" class="list-group-item list-group-item-action list-group-item-danger">Slice Operator</a>
                <a href="{% url 'courses' 12  %}" class="list-group-item list-group-item-action list-group-item-warning">Functions</a>
                <a href="{% url 'courses' 13  %}" class="list-group-item list-group-item-action list-group-item-info">File IO (Read Files)</a>
                <a href="{% url 'courses' 14  %}" class="list-group-item list-group-item-action list-group-item-light">File IO (Write Files)</a>
                <a href="{% url 'courses' 15  %}" class="list-group-item list-group-item-action list-group-item-dark">List Methods</a>
                
                <a href="{% url 'courses' 16  %}" class="list-group-item list-group-item-action list-group-item-warning">Modular Programm</a>
                <a href="{% url 'courses' 17  %}" class="list-group-item list-group-item-action list-group-item-info">Error Handling(try and except</a>
                <a href="{% url 'courses' 18  %}" class="list-group-item list-group-item-action list-group-item-light">what is global a</a>
                <a href="{% url 'courses' 19  %}" class="list-group-item list-group-item-action list-group-item-dark">Classes and Objects</a>
                </div><br><hr><br>
                
                

                
                <!-- this is the collapse for the side bar list items -->
                
                

                


                <!-- Side Widget -->
                <!-- <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                </div>
                </div>
        
                -->      

            </div>
        


            <!-- Blog Entries Column -->
          
              {% if course  %}
              
            <div class="col-md-8 mb-5 " >  

                <div class="card bg-dark text-white">
                  <img src="{% static 'sitetemplate/images/python_logoshow.jpg' %}" class="card-img" alt="...">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Lesson {{ course.id }} : {{ course.title }}</h5>
                   
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                  </div>
                </div>
              

              

              {% endif %}
            
            

            
            {% block content %}
            {% endblock %}


            </div>
            <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; FranklyMade 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'sitetemplate/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
